{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Welcome to MyTutor!</h1>
<h3>MyTutor connects intelligent high schoolers with middle school students at an affordable rate.</h3>
<p>There is an abject lack of affordable tutoring in Marin County, and MyTutor aims to solve that problem.
  By connecting driven, smart, and kind high school students from across the county with middle school students in
  need, we provide high quality tutoring at only $35/hour.

<div class="row">
<div class="col-md-6">
<h3>How it works:</h3>
<p><h4>First,</h4> We select high school students in the top of their class to work with us. These students must demonstrate academic prowess, in addition to strong personal qualities that will make them effective tutors.</p>
<p><h4>Then,</h4> Middle/Primary school students and parents are matched with a tutor near them that best suits their academic needs, as well as their scheule.</p>
<p><h4>After that,</h4> Parents pick a location to meet with their tutor, and weekly meetings ensue. Parents are billed weekly at an hourly rate of $35.</p>
<p><a class="btn btn-primary" href="/find/">Find a Tutor</a></p>
</div>

<div class="col-md-6">
  <h3>Why would I want a high schooler to tutor my child?</h3>
  <p><h4>Don't overpay!</h4>When it comes to teaching linear inequalities to seventh graders, having a bachelor's degree in anthropology doesn't make much of a difference. High schoolers know this material as well as - most likely better than - many college grads who charge twice as much! A current high schooler would have learned the material they teach only a few years ago, meaning they can empathize directly with their pupils.
  <p><h4>Role models</h4>Some say that you are the average of the five people you spend the most time with. For a middle school student, spending time with a high-achieving, dedicated high schooler can inspire them and help them grow.</p>
</div>
</div>

<h2>Payments</h2>
<h4>Payments are processed with <a href="https://stripe.com/">Stripe</a>,</h4>
<p>an extremeley secure, online payment processing service. After you schedule a weekly time to meet with your tutor, you will be prompted to insert your payment information.</p>

<br>
<br>
</div>
{% endblock %}
