{% extends 'base.html' %}

{% block content %}
<div class="container">
<h1>Become a Tutor</h1>
<p style="font-size: 1.33em">Interested in becoming a tutor? Tutors at MyTutor benefit from the reality that they never have to worry about finding clients; we do it for them! In addition, you can set your own hours and take advantage of our network of students. To apply, follow the steps below:</p>
<br>
  <ol>
      <li style="font-size: 1.25em">Send an email to <a href="mailto:apply@mytutormarin.org">apply@mytutormarin.org</a> with the following information:</li>
      <ul>
        <li style="font-size: 1.2em">Your most recent high school transcript</li>
        <li style="font-size: 1.2em">If available, your standardized test scores (PSAT, SAT, ACT)</li>
        <li style="font-size: 1.2em">A brief bio, and a note stating why you would make a good tutor. Be sure to include:</li>
          <ul  style="font-size: 1.15em">
            <li>Name</li>
            <li>High School</li>
            <li>Grade</li>
            <li>Where you live</li>
            <li>Your srongest academic subjects</li>
            <li>Any other relevant information</li>
          </ul>
      </ul>
      <li style="font-size: 1.25em">We will set up an online interview after reviewing your application.</li>
      <li style="font-size: 1.25em">That's all! After your interview, our clients will be able to book appointments with you whenever you are available.</li>
    </ol>
  <a type="button" class="btn btn-success" href="mailto:apply@mytutormarin.org">Apply Now</a>
</div>
{% endblock %}
