<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  {% block head %}
  <title>MyTutor</title>
  {% endblock %}
</head>

<body>
  <div class="container">
    <h1>MyTutor Marin</h1>
    <a href="/">Home</a> |
    <a href="/find/">Find Tutor</a> |
    <a href="/become/">Become Tutor</a> |
    <a href="/contact/">Contact</a>
  </div>

  {% block content %}
  {% endblock %}
</body>


</html>
